In [121]:
import pandas as pd

In [122]:
data = pd.read_csv('weather_data.csv')
data

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

**Data Frame is the whole column in the data.**

**Series is like on of the column in the data.**

In [123]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [124]:
print(type(data['temp']))

<class 'pandas.core.series.Series'>

In [125]:
# Change one of the column into a list
data['temp'].to_list()

[12, 14, 15, 14, 21, 22, 24]

In [126]:
# Change the data frame into a dictionary
data.to_dict()

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

**Get The Mean of the Temp**

In [127]:
data['temp'].mean().round(2)

17.43

**Get The Maximum Temp**

In [128]:
data['temp'].max()

24

**Get Data in Row**

In [129]:
data[data.day == 'Monday']

      day  temp condition
0  Monday    12     Sunny

In [130]:
data[data['temp'] == data['temp'].max()]

      day  temp condition
6  Sunday    24     Sunny

**Convert Monday temperature to Fahrenheit**

In [131]:
def celcius_to_fahrenheit(celcius) :
  return (celcius * 9/5) + 32

monday_temp = data.loc[data.day == 'Monday', 'temp'].values[0]

data.loc[data.day == 'Monday', 'temp'] = celcius_to_fahrenheit(monday_temp)

print(celcius_to_fahrenheit(monday_temp))

53.6

/tmp/ipykernel_37876/1239437256.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '53.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.day == 'Monday', 'temp'] = celcius_to_fahrenheit(monday_temp)

In [132]:
data

         day  temp condition
0     Monday  53.6     Sunny
1    Tuesday  14.0      Rain
2  Wednesday  15.0      Rain
3   Thursday  14.0    Cloudy
4     Friday  21.0     Sunny
5   Saturday  22.0     Sunny
6     Sunday  24.0     Sunny

**Create a Data Frame from scratch**

In [133]:
data_dict = {
  "students" : ['Amy', 'Aldo', 'Jenifer'],
  'scores' : [78, 87, 87]
}

new_data = pd.DataFrame(data_dict)

**Export Data Frame to CSV**

In [134]:
new_data.to_csv('new_data.csv')

**Get to Know The Fur Color on a Central Park**

In [135]:
central_park_data = pd.read_csv('2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')

**Method 1**

In [136]:
fur_color_count = central_park_data['Primary Fur Color'].value_counts()
fur_color_count

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

In [137]:
fur_color_count.to_csv('squirrel_count.csv')

In [138]:
fur_color_data = pd.read_csv('squirrel_count.csv')
fur_color_count

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

**Method 2**

In [139]:
gray_color = len(central_park_data[central_park_data['Primary Fur Color'] == 'Gray'])
red_color = len(central_park_data[central_park_data['Primary Fur Color'] == 'Cinnamon'])
black_color = len(central_park_data[central_park_data['Primary Fur Color'] == 'Black'])

data_dict = {
  "Fur Color" : ['Gray', 'Red', 'Black'],
  "Count" : [gray_color, red_color, black_color]
}

In [140]:
df = pd.DataFrame(data_dict)
df.to_csv('squirrel_count2.csv')